/*
    Revision realizada por Martin Galvan
    -El codigo esta identado y es legible correctamente
    -Las reglas CSS estan bien definidas y descrptivas
    -La consistencia del estilo se puede ver en toda la pagina
*/

main{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
article{
    margin: 5%;
    text-align: left;
}
.academic{
    margin-top: 2.5%;
}
.project{
    margin-top: 2.5%;
}
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}
#banner{
    vertical-align: central;
    margin: unset;
    margin-top: 10%;
}
#welcome-container{
    margin-top: 5%;
}
#welcome-message{
    text-align: left;
}
#social-networks{
    margin-top: fill;
    margin-bottom: 1%;
}
