/*
Revisión hecha por Julián Jaimes

Comentarios: El código está bien indentado y es legible.
El nombrado de las reglas css es correcto y descriptivo.
Es posible navegar consistentemente en la página.
La combinación de colores es adecuada, los bloques y secciones en la página están claramente definidos.
Las imágenes y videos se ven claramente.
La página es responsive.
La tipografía es adecuada.
*/
main{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
article{
    margin: 5%;
    text-align: left;
}
.academic{
    margin-top: 2.5%;
}
.project{
    margin-top: 2.5%;
}
.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}
#banner{
    vertical-align: central;
    margin: unset;
    margin-top: 10%;
}
#welcome-container{
    margin-top: 5%;
}
#welcome-message{
    text-align: left;
}
#social-networks{
    margin-top: fill;
    margin-bottom: 1%;
}
